@media screen and (max-height: 898px) and (max-width: 415px) and (min-height: 668px) and (min-width: 376px){
    main, .sec_01, .sec_02{
        width: 414px;
    }
    .sec_01{
        height: 800px;
    }
    .sec_02{
        top: 81%;
        height: 800px;
    }
}