@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");
:root{
    --cor0: #A52A2A;
    --cor1: #E6B76D;
    --cor2: #CFD3B4;
    --cor3: #99B2B2;
    --cor4: #4A515B;
}
*{
    padding: 0px;
    margin: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration-style: none;
}
h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.03em;
}
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}
body{
    height: 1000px;
}
main{
    width: 376px;
    height: 2568px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid #A8A8B3;*/
    background-color: #A52A2A;

}
.sec_01{
    width: 376px;
    height: 668px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor2);
    /*border: 1px solid #A8A8B3;*/
}
.logo{
    width: 200px;
    height: 60px;

    position: fixed;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo > img{
    width: 200px;
}
header{
    width: 376px;
    height: 200px;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.div_icones{
    width: 34px;
    height: 110px;

    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.div_icones li{
    height: 34px;
    margin-bottom: 3px;
}
.div_icones i{
    /*text-shadow: 1px 2px  5px white;*/
    color: black;
    font-size: 2em;
}
.div-perfil > img{
    width: 130px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.div-perfil{
    width: 135px;
    height: 145px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*---------------------------------*/
.info{
    width: 376px;
    height: 300px;

    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.div-sobreMim{
    width: 330px;
    height: 300px;

    position: fixed;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
}
.div-sobreMim > p{
    padding-top: 10px;
}
.div-contact{
    width: 135px;
    height: 50px;

    position: fixed;
    top: 80%;
    left: 20.5%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.button-contact{
    width: 135px;
    height: 50px;
    padding-right: 30px;

    position: fixed;
    top: 50%;
    left: 50.3%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: var(--cor1);

    border-style: none;
}
.button-contact img{
    width: 26px;
    position: fixed;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
}
.button-contact > p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: black;
}
/*============================*/
.sec_02{
    width: 376px;
    height: 668px;
    
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--cor3);
    /*border: 1px solid #A8A8B3;*/
}
.contact{
    margin-top: 20px;
    text-align: center;
}
.contact h1{
    font-size: 1.8em;
}
.info_contact
{   
    width: 376px;
    height: 200px;  
    font-size: 1.5em;
    margin-top: 20px;

    position: fixed;
}
.info_contact li{
    margin-top: 10px;
    padding-left: 30px;
}
.info_contact i{
    color: var(--cor0);
}
.info_contact p{
    padding-left: 30px;
}
/*-----------------------*/
.input_contact{
    width: 376px;
    height: 368px;

    position: absolute;
    top: 45%;
}
.div_input{
    width: 340px;
    height: 65px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--cor4);
}
.input_contact p{
    margin-left: 20px;
}
.input_contact input{
    width: 300px;
    height: 40px;
    margin-left: 20px;
    border-style: none;
    background-color: var(--cor4);
}
.div-message{
    width: 340px;
    height: 150px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--cor4);
}
.div-message > input{
    height: 120px;
}