.containerHome{
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
header{
    margin: 0px 20px 20px 20px;
    min-width: 340px;
    max-width: 900px;
    width: 100%;
}
header img{
    width: 82px;
}
nav{
    width: 100%;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    max-width: 500px;
    height: 38px;
    margin: 0px 30px;
}
nav li{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border-bottom: 1px solid var(--cor02);
    border-top: 1px solid var(--cor02);
}
.containerPerfil{
    background-color: var(--cor02);
    max-width: 600px;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}
.cardPerfil{
    display: flex; 
}
.cardPerfil > img{
    margin-left: 50px;
}
.cardInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardInfo ul{
    width: 100%;
    max-width: 150px;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 2em;
    justify-content: space-between;
}
.cardInfo i{
    color: var(--cor01);
}
.cardLogo{
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cardLogo img{
    width: 57px;
    height: 44px;
}
.cardLogo span{
    font-size: 20px;
    font-weight: bold;
}
.cardLogo p{
    color: var(--cor01);
}
.cardName{
    margin-top: 15px;
}
.cardName div{
    margin-left: 10%;
    max-width: 250px;
}
.cardName p{
    font-size: 20px;
    font-weight: bold;
}
.containerInfo{
    margin: 20px 20px 0px 20px;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}
.containerInfo h2{
    border-bottom: 5px solid var(--cor01);
}
.containerInfo > p{
    margin: 15px 20px 0px 20px;
    max-width: 550px;
}
.buttons{
    padding: 0px 20px;
    width: 100%;
    max-width: 550px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons .button{
    height: 40px;
    width: 145px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--cor01);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button > p{
    font-size: 16px;
    font-weight: bold;
}
.button img{
    margin-left: 10px;
    height: 20px;
}