/* .containerHome{
    background-color: var(--cor00);
} */
/* HEADER */
header{
    display: flex;
    justify-content: center;
}
.headerHome{
    min-width: 340px;
    max-width: 900px;
    width: 100%;
    display: flex;
    margin: 45px 20px 0px 20px;
}
.headerIcon{
    height: 50px;
}
.headerIcon img{
    width: 82px;
    margin-top: -15px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
nav ul{
    width: 100%;
    max-width: 500px;
    height: 38px;
    margin-right: 15px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
/* SECTION */
.cardSectionHome{
    margin: 17px auto 0px auto;
    display: flex;
    justify-content: center;
    max-width: 600px;
}
.cardSection{
    height: 265px;
    border-radius: 20px;
    background-color: var(--cor02);
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card{
    width: 100%;
    margin: 10px;
    /* max-width: 600px; */
}
.cardPerfil{
    display: flex; 
}
.cardInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cardImgPerfil{
    height: 100%;
    width: 110px;
    display: flex;
    justify-content: center;
}
.cardIcons{
    display: flex;
    justify-content: center;
    height: 50px;
}
.cardIcons ul{
    width: 100%;
    max-width: 150px;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 2em;
    justify-content: space-between;
}
.cardIcons i{
    color: var(--cor01);
}
.cardLogo{
    height: 100%;
}
.cardLogoImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.cardLogoImg img{
    width: 57px;
    height: 44px;
}
.cardLogo p{
    color: var(--cor01);
}
.cardName{
    margin-top: 15px;
}
.cardName div{
    margin-left: 10%;
    max-width: 250px;
}
/* SECTION INFO */
.cardSectionInfo{
    height: 246px;
    margin: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divFront{
    text-align: center;
    border-bottom: 5px solid var(--cor01);
    margin: 0px 30px 0px 30px;
}
.divP{
    margin-top: 15px;
    max-width: 550px;
    height: 100px;
}
.divButtons{
    width: 100%;
    max-width: 550px;
    margin-top: 25px;
    display: flex;
    height: 55px;
    justify-content: space-between;
}
.divButtons button{
    height: 40px;
    width: 145px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--cor01);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.divButtons button img{
    margin-left: 10px;
    height: 20px;
}
.divImg{
    margin-right: 10px;
}